body {
    background-color: dimgrey;
}

table, th, td {border:1px solid black;
    border-radius:15px;}
    table {
    border-spacing: 10px;
    background-color: darkgreen;
    }
    tr:nth-child(even){background-color: #0a66d4;}
   th {background-color: white;}
    fieldset { width:80%;
           background-image: url(../imgs/eagle_flight_sky_wings_clouds_97499_1280x720.jpg);
              
    }
    h1 {
        text-align: center;
        text-shadow: 3PX 3PX 3PX rgb(41, 63, 50);
        text-shadow: 6PX 6PX 6PX rgb(125, 125, 160);
        text-shadow: 9PX 9PX 9PX darkred;
    }
    a {
        text-decoration: none;
        text-transform: capitalize;
        border-radius: 6px;
        background-color: navy;
        color: oldlace;
        display: inline-block;
        padding: 25PX;
        margin-bottom: 15PX;
    }
    a:visited{
        background-color: blue;
        color: white;
    }
    a:hover {
        background-color: white;
        color: blue;
    }
    a:active{
        background-color: blue;
        color: white;
    }
    a.yt {
        border-radius: 6px;
        text-transform: capitalize;
        text-decoration: none;
        margin-bottom: 15px;
        margin-left:26px;
        display: inline-block;
        background-color: red;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    a.yt:visited {
        background-color: red;
        color: silver;
    }
    a.yt:hover {
        background-color:wheat;
        color: red;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    }
    a.yt:active {
        background-color: red;
        color: white;
    }
    P {background-color: blue;
    width: 200px;}
    P.as {opacity: 0.1;}
    p.sa {opacity: 0.2;}
    p.sas {opacity: 0.3;}
    p.asas {opacity: 0.4;}
    p.asasa {opacity:0.5;}
    h3 {
        letter-spacing: 5px;
        word-spacing: 3px;
        line-height: 1.5;
        white-space: nowrap;
        width: 360px;
        overflow: hidden;
    }
    .inh {
        text-align: center;
        background-color: darkorange;
        color: darkslategray;
        border: 2px solid blue;
        border-radius: 5px;
        width: 500px;
        padding: 30px;
    }
    .inh p {
        text-align:inherit;
        background-color: inherit;
        color: inherit;
        border: inherit;
        border-radius: inherit;
        width: inherit;
     }